<div class="header">
    <div class="container">
      <ul class="nav">
        <li>Home</li>
        <li><a routerLink="/booking" style="color:#ffffff ;">Go To Book</a></li>
        <li><a  [routerLink]="'/mybooking'" style="color:white ;">My Booking</a></li>
        <li><a [routerLink]="['/loginpage']" style="color:white ;">LOGIN</a></li>
        <li><a href="#" style="color:white ;">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">  
      <div class="main">
        <h1>PLAN YOUR TRIP</h1>
        <h2 style="border: 10px;">Travel is the movement of people between distant geographical locations.</h2>
        
      </div>
      <!-- gallery -->
      

    </div>
  </div>

  
   
