<div class="box">
    <div class="form "> 
        <form #loginForm="ngForm" (ngSubmit)="loginUser()">
            <small class="text-danger">{{msg}}</small>
        <h2>SIGN IN</h2>
        <div class="inputBox">
            <input type="text" name="email" required [ngModel]="register.email" required  pattern="^\w+@[a-zA-Z_]+?|.[a-zA-Z]{2,3}$"
            #email="ngModel"
           
            [class.is-invalid]="email.invalid && email.touched">
            <!-- <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors?.['required']">email field is required </small>
                <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter a valid email</small>
             </div> -->
            <span>email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required  name="password" [(ngModel)]="register.password" required #password="ngModel">
            <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched">Enter your Password</small>
                  -->
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forget password</a>
            <a [routerLink]="['/registerpage']">New user signup</a>
        </div>
        <input type="submit" value="Login">
    </form>
    </div>
</div>

